<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <alert></alert>
    <form class="text-center" role="form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" pattern="[A-Za-z]+" #firstName="ngModel" required />
        <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name must contain only latin letters</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" pattern="[A-Za-z]+" #lastName="ngModel" required />
        <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name must contain only latin letters</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" pattern="^[a-zA-Z0-9]([._](?![._])|[a-zA-Z0-9]){2,13}[a-zA-Z0-9]$" minlength="3" maxlength="15" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username must be between 4 and 15 characters and must contain only latin letters and digits</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" pattern="^[a-zA-Z0-9]([._](?![._])|[a-zA-Z0-9]){2,13}[a-zA-Z0-9]$" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password must be between 4 and 15 characters and must contain only latin letters and digits</div>
      </div>

      <p>You already have an account?? Go back to <a routerLink="/login">login</a></p>
      <button type="submit" class="btn btn-success" *ngIf="!loading">Register</button>
      <img class="loading" *ngIf="loading" src="http://orig06.deviantart.net/df77/f/2013/094/8/d/loading_logofinal_by_zegerdon-d60eb1v.gif" />
    </form>
    <hr/>
  </div>
</div>