<div class="container">
    <div class="col-sm-12">

        <div class="bs-calltoaction bs-calltoaction-info">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Welcome to the ultimate blogging site!</h1>
                    <div class="cta-desc">
                        <p>Either you're a musician, youtuber, artist or simply reblog your favorite stuff!</p>
                        <p>Click to register in few simple steps!</p>
                        <p>Share your personal experiences!</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a routerLink="/register" class="btn btn-lg btn-block btn-info">Register Now!!</a>
                </div>
            </div>
        </div>

        <div class="bs-calltoaction bs-calltoaction-info">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Who we are?</h1>
                    <div class="cta-desc">
                        <p>A group of students from the Telerik Academy</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="https://github.com/Brevering/shroom2" class="btn btn-lg btn-block btn-info">Source Code!</a>
                </div>
            </div>
        </div>

    </div>
</div>