<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://github.com/Brevering/shroom2" target="_top">Angular 2 SPA project</a>
    </p>
    <p>
        <a href="http://infshroom.herokuapp.com" target="_top">by Infected Mushroom team</a>
    </p>
</div>