<div class="container" id="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Shroomz
                    <small>In the world of shroomy content</small>
                    </h2>
            </div>
        </div>
    </div>
    <app-searchbar></app-searchbar>
    <app-navbar [currentUser]="currentUser" [isHidden]="isToggledOn" (onToggleCategoryBox)="isToggledOn=$event"></app-navbar>
    <app-categories-list [isHidden]="isToggledOn"></app-categories-list>
    <div id="content">
        <div class="row" *ngIf="!isAuthenticated">
            <div class="col-md-12">
                <div class="jumbotron">
                    <!-- Too much images loading ? Maybe delete this one -->
                    <img class="img img-responsive logo-nav" src="https://upload.wikimedia.org/wikipedia/commons/1/17/BlankMap-World-noborders.png" alt="World Map">
                </div>
                <hr/>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>