<h3 class="text-center">Create new post</h3>
<form name="form" (ngSubmit)="create()" #postForm="ngForm" novalidate>
  <div class="text-center" *ngIf="!isTypeSelected">
    <button *ngFor="let btnType of typeOfPosts; let i = index" type="button" class="type-btn btn btn-default" form="post-create" name="type"
      value="{{btnType}}" (click)="post.type=btnType; onToggle()">
        <span class="glyphicon glyphicon-{{typesOfGlyphs[i]}}" aria-hidden="true"></span>
        </button>
  </div>


  <div *ngIf="isTypeSelected">
    <div class="form-group">
      <label for="title-input" class="sr-only">Title</label>
      <input type="text" class="form-control input-lg" id="title-input" name="title" placeholder="Enter title" required [(ngModel)]="post.title">
    </div>

    <div class="form-group">
      <label for="category-input" class="sr-only">Categories</label>
      <select class="form-control" id="category-input" name="category" placeholder="select category" size="4" required [(ngModel)]="post.category">
          <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
      </select>
    </div>


    <div class="form-group" *ngIf="post.type === typeOfPosts[0]">
      <label for="body-input" class="sr-only">Body</label>
      <textarea class="form-control" rows="12" id="body-input" placeholder="Enter text" name="body" [(ngModel)]="post.body" #body="ngModel"></textarea>
    </div>

    <div class="form-group hiden" *ngIf="post.type !== typeOfPosts[0]">
      <label for="url-input" class="sr-only">Url</label>
      <input type="url" class="form-control" id="url-input" placeholder="Enter video url here" name="url" *ngIf="post.type === typeOfPosts[1]"
        [(ngModel)]="post.videoLink">
      <input type="url" class="form-control" id="url-input" placeholder="Enter image url here" name="url" *ngIf="post.type === typeOfPosts[2]"
        [(ngModel)]="post.imgLink">
      <input type="url" class="form-control" id="url-input" placeholder="Enter audio url here" name="url" *ngIf="post.type === typeOfPosts[3]"
        [(ngModel)]="post.audioLink">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    <button type="button" class="btn btn-defaulr pull-right" (click)="postForm.reset(); onToggle()">Changed your mind? Go back to post types</button>
  </div>

</form>