<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg" *ngIf="post">
      <button type="button" class="close" aria-label="Close" (click)="goBack()"><span aria-hidden="true">&times;</span></button>
      <div>
        <h3 class="text-muted">{{post.title}}</h3>
        <hr>
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-folder-open" aria-hidden="true" aria-label="Category"></span>
            <a href="/category">{{post.category}}</a>
          </li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true" aria-label="Date"></span>{{post.createdAt}}</li>
          <li><span class="glyphicon glyphicon-user" aria-hidden="true" aria-label="User"></span> <a href="/profile">{{post.author}}</a></li>
        </ul>
      </div>
      <div *ngIf="post.body">
        <p class="text-muted">{{post.body}}</p>
      </div>
      <div *ngIf="post.imgLink">
        <img [src]="post.imgLink" class="img-responsive" alt="Responsive image">
      </div>
      <div class="embed-responsive embed-responsive-16by9" *ngIf="post.videoLink">
        <iframe class="embed-responsive-item" [src]="post.videoLink | safeUrl"></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9" *ngIf="post.audioLink">
        <iframe class="embed-responsive-item" [src]="post.audioLink | safeUrl"></iframe>
      </div>
      <div class="center-block text-center">
        <ul class="list-inline">
          <li><a role="button"><span class="glyphicon glyphicon-comment" aria-hidden="true" aria-label="Reply"></span></a></li>
          <li><a role="button"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true" aria-label="Like"></span></a></li>
          <li><a role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true" aria-label="Liked"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>