/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


/*body {
    background-image: url("../img/rbthqzjd_vu-thaddaeus-lim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}*/

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

ul#category-box {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#category-list li {
    display: inline;
    margin: 5px 5px;
}

.thumbnail:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}

.thumbnail > .caption span:hover {
    font-size: 1.5em;
}

.thumbnail > img, video, iframe, p.text {
    width: 242px;
    height: 200px;
    overflow: hidden;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

