<app-searchbar (onTextInput)="filterText=$event"></app-searchbar>
<div class="row">
  <div class="col-md-3" *ngFor="let post of posts | postsFilter:filterText | postsPaging:currentPage:pageSize">
    <div class="thumbnail" (click)="onSelect(post)">
      <!--<p class="text" *ngIf="post.title">{{post.title}}</p>    -->
      <p class="text" *ngIf="post.body">{{post.body}}</p>
      <img *ngIf="post.imgLink" [src]="post.imgLink">
      <iframe *ngIf="post.videoLink" [src]="post.videoLink | safeUrl" frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="post.audioLink" [src]="post.audioLink | safeUrl" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
      <div class="caption text-center">
        <p><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></p>
      </div>
    </div>
  </div>
  <app-pager [numberOfPages]="numberOfPages" (pageChanged)="onPageChange($event)"></app-pager>
  <div class="clearfix visible-md-inline"></div>
</div>