<div class="row" *ngFor="let post of userPosts">
  <div class="col-md-12">
    <div class="thumbnail" (click)="onSelect(post)">
      <div class="center-block pull-right">
        <ul class="list-inline">
          <li><a role="button"><span class="glyphicon glyphicon-edit gi-2x" aria-hidden="true" aria-label="Edit"></span></a></li>
          <li><a role="button"><span class="glyphicon glyphicon-remove gi-2x" aria-hidden="true" aria-label="Remove"></span></a></li>          
        </ul>
      </div>
      <!--<p class="text" *ngIf="post.title">{{post.title}}</p>-->
      <p class="text" *ngIf="post.body">{{post.body}}</p>
      <img *ngIf="post.imgLink" [src]="post.imgLink">
      <iframe *ngIf="post.videoLink" [src]="post.videoLink | safeUrl" frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="post.audioLink" [src]="post.audioLink | safeUrl" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
    </div>
  </div>
</div>
