<div class="row">
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item" [routerLink]="['/profile']">Post something</a>
      <a class="list-group-item" [routerLink]="['info']">Your Personal Information</a>
      <a class="list-group-item" [routerLink]="['update']">Update your information</a>
      <a class="list-group-item" [routerLink]="['my-posts']">Show my posts<span class="badge">{{postsCount}}</span></a>
      <a class="list-group-item" [routerLink]="['my-likes']">Show my likes<span class="badge">{{likesCount}}</span></a>
      <!--<a class="list-group-item" (click)="navigate( 'edit' )" disabled="disabled">Edit my profile</a>-->
    </div>
  </div>
</div>
<!--(click)="navigate( '../' )"-->